@use "../../vars/bootstrap" as bs;
@use "../../utils" as *;

$container-width: 900px;

section#todos {
	width: $container-width;

	> .__title {
		> form {
			display: flex;
			flex-direction: column;

			border: 2px solid bs.$color-border-primary;
			padding: 10px;

			@include on("md") {
				flex-direction: row;
			}

			justify-content: space-between;
			gap: 10px;

			> input {
				&:first-child {
					width: 100%;
					@include on("md") {
						width: calc(50% - 10px);
					}
				}

				&:nth-child(2) {
					width: 100%;
					@include on("md") {
						margin-left: auto;
						width: calc(50% - 74px);
					}
				}
			}
		}
	}
}
