@use "../../vars/bootstrap" as bs;
@use "../../utils" as *;

.todo-item {
	border: 1px solid bs.$color-background-active;
	padding: 10px 20px;

	.row {
		&:first-child {
			margin-bottom: 10px;
			.__title {
				width: fit-content;
				padding-bottom: 5px;
				line-height: 150%;
				margin-bottom: 20px;
				border-bottom: 2px dashed orange;
				@include clamp-lines(1);
			}

			.__description {
				font-size: bs.$small-font-size;
				line-height: 140%;
				@include clamp-lines(4);
			}
		}

		&:last-child {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			.__timestamp {
				font-size: bs.$ultra-small-font-size;
			}

			.__controls {
			}
		}
	}
}
