@use "../../vars/bootstrap" as bs;

.todo-item {
	display: flex;
	flex-direction: column;
	border: 2px dashed bs.$color-border-primary;

	> .group {
		display: flex;
		flex-direction: row;

		> .__content {
			padding-top: 15px;
			padding-left: 15px;
			padding-bottom: 15px;
			> .group {
				display: flex;
				justify-content: space-between;
				> .__controls {
					display: flex;
					justify-content: center;
					flex-direction: row;
					button {
						outline: none;
						border: none;
						background: bs.$color-background-primary;
						color: bs.$color-text-primary;
					}
				}

				.__title {
					height: calc(bs.$default-font-size + 5px); // > span.padding-y
					display: -webkit-box;
					-webkit-line-clamp: 1;
					line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					border-bottom: 2px solid orange;

					> span {
						padding: 5px;
					}
				}
			}

			.__description {
				height: calc(bs.$small-font-size * 3);
				display: -webkit-box;
				-webkit-line-clamp: 3;
				line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;

				margin: 10px 0px;
				font-size: bs.$small-font-size;
			}
		}
	}
	.__timestamp {
		text-align: right;
		padding-bottom: 15px;
		font-size: bs.$ultra-small-font-size;
	}
}
