@use "../vars/bootstrap" as bs;
@use "../utils" as *;

section#filters {
	margin: 20px 0px;
	display: flex;
	flex-direction: column;
	@include on("md") {
		flex-direction: row;
	}
	justify-content: space-between;
	align-items: flex-end;

	> .plug {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 100%;

		@include on("md") {
			width: calc(50% - 5px);
		}
		gap: 10px;

		> .filter {
			width: 50%;

			display: flex;
			flex-direction: column;

			> label {
				text-align: center;
				padding-bottom: 5px;
			}
		}
	}

	input {
		margin-top: 20px;
		width: 100%;
		@include on("md") {
			margin-top: 0px;
			flex-direction: column;
			@include on("md") {
				flex-direction: row;
			}
			width: calc(50% - 5px);
		}
		height: calc(100% - bs.$default-font-size - 5px);
	}
}
