@use "../vars/bootstrap" as bs;
@use "../utils" as *;

section#filters {
	> form {
		width: 100%;
		display: flex;
		border: 2px solid white;
		padding: 10px;
		flex-direction: column;
		gap: 0px;
		@include on("md") {
			flex-direction: row;
			gap: 20px;
		}

		margin: 15px 0px;

		.group {
			display: flex;

			width: 100%;
			@include on("md") {
				width: 50%;
			}

			gap: 10px;

			&:first-child {
				> .filter {
					width: 50%;
					display: flex;
					flex-direction: column;

					label {
						text-align: center;
						margin-bottom: 5px;
					}
				}
			}

			&:last-child {
				margin-top: calc(bs.$default-font-size + 5px);
				input {
					width: 100%;
				}
			}
		}
	}
}
