@use "../vars/bootstrap" as bs;

header#page-header {
	height: 60px;

	border-bottom: 2px dashed bs.$color-border-primary;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: bs.$default-font-size;
}
