@use "../utils" as *;

section#load-more {
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 20px 0px;
	button#load-more-button {
		width: 100%;

		@include on("md") {
			max-width: 200px;
			width: 200px;
		}
	}
}
