@use '../utils' as *;
@use '../vars/bootstrap' as bs;
section#modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgba($color: #000000, $alpha: 0.5);
	backdrop-filter: blur(15px);

	> .__wrap {
		width: 90%;
		background-color: bs.$color-background-primary;
		border: 2px dashed bs.$color-border-primary;
		@include on('md') {
			width: 50%;
		}
		height: 40vh;
		display: flex;
		flex-direction: column;

		> .__title {
			border-bottom: 2px dashed bs.$color-border-primary;
			padding: 20px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			button {
				font-size: bs.$default-font-size;
				padding: 0;
			}
		}

		> .__content {
			padding: 20px;
			display: flex;
			flex-direction: column;

			label {
				text-align: center;
				padding: 20px 0px;
			}
		}
	}
}
