@use "../vars/bootstrap" as bs;

#page-container {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
	margin-top: 50px;
}

#app {
	width: 100%;
	height: 60px;

	border-bottom: 2px dashed bs.$color-border-primary;
}

main#page-content {
	> .__content {
		width: 100%;

		display: flex;
		flex-direction: row;
		gap: 10px;
	}
}
