@use "../vars/bootstrap" as bs;
@use "../utils" as *;

#page-container {
	display: flex;

	width: 90%;
	flex-direction: column-reverse;

	margin-bottom: 150px;

	@include on("md") {
		width: 80%;
	}

	@include on("lg") {
		width: 70%;
		flex-direction: row;
	}

	gap: 20px;
	justify-content: center;
	margin-top: 50px;

	margin-left: auto;
	margin-right: auto;
}

#app {
	width: 100%;
}

main#page-content {
	> .__content {
		width: 100%;

		display: flex;
		flex-direction: row;
		gap: 10px;
	}
}
