@use "../vars/bootstrap" as bs;
@use "../utils" as *;

button {
	font-size: bs.$default-font-size;
	padding: 10px 20px;
	cursor: pointer;

	&.primary {
		background: bs.$color-background-primary;
		color: bs.$color-text-primary;
		border: 2px dashed bs.$color-border-primary;

		@include hoverable();
		&:hover {
			background-color: bs.$color-background-active;
			color: bs.$color-text-active;
		}
	}
}
