@use "../vars/bootstrap" as bs;
@use "../utils" as *;

button {
	font-family: bs.$font-primary;
	font-size: bs.$default-font-size;
	padding: 10px 20px;
	cursor: pointer;
	background: bs.$color-background-primary;
	color: bs.$color-text-primary;

	&.primary {
		border: 2px dashed bs.$color-border-primary;

		@include hoverable();
		&:hover {
			background-color: bs.$color-background-active;
			color: bs.$color-text-active;
		}
	}

	&.icon {
		border: none;
		padding: 5px;
		border-radius: 5px;
		font-size: bs.$small-font-size;
		@include hoverable();
		&:hover {
			background-color: bs.$color-background-active;
			color: bs.$color-text-active;
		}
	}
}
