@use '../vars/bootstrap' as bs;

input {
	font-family: bs.$font-primary;
	font-size: bs.$default-font-size;
	text-align: center;

	&.primary {
		outline: none;
		border: 2px dashed bs.$color-border-primary;
		background: bs.$color-background-primary;
		color: bs.$color-text-primary;
		padding: 10px 20px;

		&.error {
			border: 2px dashed bs.$color-highlight-error;
		}

		&::placeholder {
			font-size: bs.$small-font-size;
			text-align: center;
		}
	}
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: bs.$font-primary;
	font-size: bs.$default-font-size;
	padding: 10px 20px;

	&.primary {
		border: 2px dashed bs.$color-border-primary;
		background: bs.$color-background-primary;
		color: bs.$color-text-primary;
		text-align: center;

		&:focus {
			outline: none;
			border-color: bs.$color-border-primary;
		}
	}
}
