@use "./vars/bootstrap" as bs;
@use "sass:map";

$breakpoints: (
	"sm": 480px,
	"md": 768px,
	"lg": 1024px,
	"xl": 1440px,
);

@mixin hoverable($duration: bs.$fast-duration) {
	transition: $duration;
	cursor: pointer;
}

/// @param {String} $breakpoint - sm, md, lg, xl
@mixin on($breakpoint) {
	@media (min-width: map.get($breakpoints, $breakpoint)) {
		@content;
	}
}

@mixin clamp-lines($lines) {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: $lines;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}
