@use "./vars/bootstrap" as bs;
@use "./ui/bootstrap" as *;
@use "./components/bootstrap" as *;
@use "./reset";
@use "utils" as *;
@use "./typo";

body {
	background: bs.$color-background-primary;
	color: bs.$color-text-primary;
}
